.ligne3 {
	margin-top: 0.8%;
	margin-left: 30px;
}

.ligne {
	position: absolute;
	top: 20%;
	left: 5%;
	display: flex;

}

.iconeligne {
	padding-left: 5%;
	margin-top: 3%;
}

.icone {
	position: absolute;
	left: 44%;
	top: 68%;
}