footer ul {

	display: flex;
	justify-content: center;
	padding-top: 5%;
	padding-bottom: 5%;

}

footer li {
	list-style: none;


	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 16px;

}

footer a {
	text-decoration: none;
	color: white;
	font-family: "Apex Regular";
	font-size: 30px;
}

.Accueil:hover {

	#Accueil2 {
		opacity: 1;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
	}

	#Groupe_2 {
		opacity: 1;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
	}

	#Groupe_5 {
		opacity: 1;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
	}

	#Groupe_3 {
		opacity: 1;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
	}

	#Groupe_4 {
		opacity: 1;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
	}
}

.ChapitreUn:hover {

	#ChapitreUn {
		opacity: 1;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
		stroke: #fff;
	}

	#Groupe_2 {
		opacity: 1;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
		stroke: #fff;
	}

	#Groupe_5 {
		opacity: 1;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
		stroke: #fff;
	}

	#Groupe_3 {
		opacity: 1;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
		stroke: #fff;
	}

	#Groupe_4 {
		opacity: 1;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
		stroke: #fff;
	}
}

.ChapitreDeux:hover {

	#ChapitreDeux {
		opacity: 1;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
		stroke: #fff;
	}

	#Groupe_2 {
		opacity: 1;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
		stroke: #fff;
	}

	#Groupe_5 {
		opacity: 1;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
		stroke: #fff;
	}

	#Groupe_3 {
		opacity: 1;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
		stroke: #fff;
	}

	#Groupe_4 {
		opacity: 1;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
		stroke: #fff;
	}
}

.ChapitreTrois:hover {
	#ChapitreTrois {
		opacity: 1;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
		stroke: #fff;
	}

	#Groupe_2 {
		opacity: 1;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
		stroke: #fff;
	}

	#Groupe_5 {
		opacity: 1;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
		stroke: #fff;
	}

	#Groupe_3 {
		opacity: 1;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
		stroke: #fff;
	}

	#Groupe_4 {
		opacity: 1;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
		stroke: #fff;
	}
}