header {
	width: 100%;
	height: 124px;

	ul {

		display: flex;
		padding-left: 140px;
		padding-top: 42px;


		li {
			list-style: none;


			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 16px;

			a {
				text-decoration: none;
				color: white;
				font-family: "Apex Regular";
				font-size: 30px;
			}
		}
	}
}

.headerChapitre1 {
	width: 1920px;
	height: 1080px;
	background-image: url("../assets/images/ville-3.jpg");
	filter: brightness(70%);
	-webkit-filter: brightness(70%);
}

.headerChapitre2 {
	width: 1920px;
	height: 1080px;
	background-image: url("../assets/images/EolienneBig.jpg");
	filter: brightness(70%);
	-webkit-filter: brightness(70%);
}

.headerChapitre3 {
	width: 1920px;
	height: 1080px;
	background-image: url("../assets/images/Ai_chaise.jpg");
	filter: brightness(70%);
	-webkit-filter: brightness(70%);
}

.ChapitreUnHeader:hover {

	#Ligne_2 {
		stroke: #fff;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
	}

	#Ligne_3 {
		stroke: #fff;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
	}

	#Ligne_2-2 {
		stroke: #fff;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
	}

	#Ligne_3-2 {
		stroke: #fff;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
	}

	#Ligne_2-3 {
		stroke: #fff;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
	}

	#Ligne_3-3 {
		stroke: #fff;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
	}

	#Ligne_2-4 {
		stroke: #fff;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
	}

	#Ligne_3-4 {
		stroke: #fff;
		transition: 1;
		-webkit-transition: 1;
		-moz-transition: 1;
		-ms-transition: 1;
		-o-transition: 1;
	}

	#ChapitreUn {
		fill: #fff;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
	}
}

.ChapitreDeuxHeader:hover {

	#Ligne_2 {
		stroke: #fff;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
	}

	#Ligne_3 {
		stroke: #fff;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
	}

	#Ligne_2-2 {
		stroke: #fff;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
	}

	#Ligne_3-2 {
		stroke: #fff;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
	}

	#Ligne_2-3 {
		stroke: #fff;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
	}

	#Ligne_3-3 {
		stroke: #fff;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
	}

	#Ligne_2-4 {
		stroke: #fff;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
	}

	#Ligne_3-4 {
		stroke: #fff;
		transition: 1;
		-webkit-transition: 1;
		-moz-transition: 1;
		-ms-transition: 1;
		-o-transition: 1;
	}

	#ChapitreDeux {
		fill: #fff;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
	}
}