* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}


body {
	background: $fond;
}

.chapitre {
	display: flex;

	.chapitres {
		width: 640px;
		height: 100vh;
		filter: brightness(50%);
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
		display: flex;
		justify-content: center;
		align-items: center;



		h2 {
			color: white;
			font-family: "Apex Regular";
			font-size: 30px;
		}



		a {
			color: white;
			font-family: "Apex Regular";
			font-size: 50px;
			text-decoration: none;
			-webkit-filter: brightness(100%);
		}


	}

	div:hover {
		filter: brightness(100%);
		-webkit-filter: brightness(100%);
	}


	.chapitre1 {
		background-image: url("../assets/images/Viille.jpg");

		a {
			width: 90%;
			padding-left: 8%;
		}
	}

	.chapitre2 {

		background-image: url("../assets/images/eolienne2.jpg");
	}

	.chapitre3 {
		background-image: url("../assets/images/robotindex.jpg");

	}

	.chapitre3 button {
		position: absolute;
	}
}

.Titrage {
	display: flex;
	margin-left: 7%;

	h2 {
		padding-top: 11px;
		color: white;
		font-family: "Apex Regular";
		font-size: 100px;
	}

	h3 {
		padding-top: 3%;
		padding-left: 10%;
		color: white;
		font-family: "Apex Regular";
		font-size: 50px;
	}

}

.imageBackground {
	display: flex;
	position: relative;

	p {
		font-family: 'Montserrat', sans-serif;
		color: white;
		font-weight: bold;
		font-size: 23px;
		width: 80%;
		line-height: 2.3;
		text-align: left;
		padding-left: 20%;
		padding-top: 15%;
	}
}