.Texte1,
.Texte2,
.Texte3,
.doublebox {
	margin-top: 4%;
	margin-left: 7%;

}

.Texte1Inegalites,
.Inegalites {
	margin-top: 10%;
	margin-left: 7%;

}



.Texte4 {
	margin-top: 10%;
	margin-left: 7%;

	p {
		font-family: 'Montserrat', sans-serif;
		color: white;
		font-size: 20px;
		width: 63%;
		line-height: 2.5;
		text-align: left;
		padding-top: 3%;
	}
}

.Inegalites {
	display: flex;
}

.InegalitesDroite {

	margin-left: 7%;

	p {
		font-family: 'Montserrat', sans-serif;
		color: white;
		font-size: 20px;
		width: 90%;
		line-height: 2.5;
		text-align: left;
		padding-top: 3%;
	}

	.Groupe14 {
		margin-top: 15%;
	}
}

.Texte1,
.Texte3 {
	p {
		font-family: 'Montserrat', sans-serif;
		color: white;
		font-size: 20px;
		width: 63%;
		line-height: 2.5;
		text-align: left;
		padding-top: 3%;
	}
}

.Texte1Inegalites {
	p {
		font-family: 'Montserrat', sans-serif;
		color: white;
		font-size: 20px;
		width: 63%;
		line-height: 2.5;
		text-align: left;
		padding-top: 3%;
	}
}

.doublebox {
	display: flex;
}

.ArmeeTexte {
	width: 100%;
	padding-left: 4%;

	p {
		font-family: 'Montserrat', sans-serif;
		color: white;
		font-size: 20px;
		width: 90%;
		line-height: 2.5;
		text-align: left;
		padding-top: 3%;
		padding-right: 2%;
	}
}


.Texte2 {
	p {
		font-family: 'Montserrat', sans-serif;
		color: white;
		font-size: 20px;
		width: 30%;
		line-height: 2.5;
		text-align: left;
		padding-top: 3%;
		padding-right: 2%;
	}
}


.Texte2 .box {
	display: flex
}