@font-face {
  font-family: "Apex Regular";
  src: url("../assets/font/ApexRegular.otf"); }
header {
  width: 100%;
  height: 124px; }
  header ul {
    display: flex;
    padding-left: 140px;
    padding-top: 42px; }
    header ul li {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 16px; }
      header ul li a {
        text-decoration: none;
        color: white;
        font-family: "Apex Regular";
        font-size: 30px; }

.headerChapitre1 {
  width: 1920px;
  height: 1080px;
  background-image: url("../assets/images/ville-3.jpg");
  filter: brightness(70%);
  -webkit-filter: brightness(70%); }

.headerChapitre2 {
  width: 1920px;
  height: 1080px;
  background-image: url("../assets/images/EolienneBig.jpg");
  filter: brightness(70%);
  -webkit-filter: brightness(70%); }

.headerChapitre3 {
  width: 1920px;
  height: 1080px;
  background-image: url("../assets/images/Ai_chaise.jpg");
  filter: brightness(70%);
  -webkit-filter: brightness(70%); }

.ChapitreUnHeader:hover #Ligne_2 {
  stroke: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.ChapitreUnHeader:hover #Ligne_3 {
  stroke: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.ChapitreUnHeader:hover #Ligne_2-2 {
  stroke: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.ChapitreUnHeader:hover #Ligne_3-2 {
  stroke: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.ChapitreUnHeader:hover #Ligne_2-3 {
  stroke: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.ChapitreUnHeader:hover #Ligne_3-3 {
  stroke: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.ChapitreUnHeader:hover #Ligne_2-4 {
  stroke: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.ChapitreUnHeader:hover #Ligne_3-4 {
  stroke: #fff;
  transition: 1;
  -webkit-transition: 1;
  -moz-transition: 1;
  -ms-transition: 1;
  -o-transition: 1; }
.ChapitreUnHeader:hover #ChapitreUn {
  fill: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }

.ChapitreDeuxHeader:hover #Ligne_2 {
  stroke: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.ChapitreDeuxHeader:hover #Ligne_3 {
  stroke: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.ChapitreDeuxHeader:hover #Ligne_2-2 {
  stroke: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.ChapitreDeuxHeader:hover #Ligne_3-2 {
  stroke: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.ChapitreDeuxHeader:hover #Ligne_2-3 {
  stroke: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.ChapitreDeuxHeader:hover #Ligne_3-3 {
  stroke: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.ChapitreDeuxHeader:hover #Ligne_2-4 {
  stroke: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.ChapitreDeuxHeader:hover #Ligne_3-4 {
  stroke: #fff;
  transition: 1;
  -webkit-transition: 1;
  -moz-transition: 1;
  -ms-transition: 1;
  -o-transition: 1; }
.ChapitreDeuxHeader:hover #ChapitreDeux {
  fill: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }

.ChapitreTroisHeader:hover #Ligne_2 {
  stroke: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.ChapitreTroisHeader:hover #Ligne_3 {
  stroke: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.ChapitreTroisHeader:hover #Ligne_2-2 {
  stroke: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.ChapitreTroisHeader:hover #Ligne_3-2 {
  stroke: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.ChapitreTroisHeader:hover #Ligne_2-3 {
  stroke: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.ChapitreTroisHeader:hover #Ligne_3-3 {
  stroke: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.ChapitreTroisHeader:hover #Ligne_2-4 {
  stroke: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.ChapitreTroisHeader:hover #Ligne_3-4 {
  stroke: #fff;
  transition: 1;
  -webkit-transition: 1;
  -moz-transition: 1;
  -ms-transition: 1;
  -o-transition: 1; }
.ChapitreTroisHeader:hover #ChapitreTrois {
  fill: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }

.ligne3 {
  margin-top: 0.8%;
  margin-left: 30px; }

.ligne {
  position: absolute;
  top: 20%;
  left: 5%;
  display: flex; }

.iconeligne {
  padding-left: 5%;
  margin-top: 3%; }

.icone {
  position: absolute;
  left: 44%;
  top: 68%; }

.prologue {
  position: absolute;
  top: 3%;
  left: 60%;
  cursor: pointer; }

.prologue:hover #Prologue {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.prologue:hover #Groupe_2 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.prologue:hover #Groupe_5 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.prologue:hover #Groupe_3 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.prologue:hover #Groupe_4 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #0E0E0F; }

.chapitre {
  display: flex; }
  .chapitre .chapitres {
    width: 640px;
    height: 100vh;
    filter: brightness(50%);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center; }
    .chapitre .chapitres h2 {
      color: white;
      font-family: "Apex Regular";
      font-size: 30px; }
    .chapitre .chapitres a {
      color: white;
      font-family: "Apex Regular";
      font-size: 50px;
      text-decoration: none;
      -webkit-filter: brightness(100%); }
  .chapitre div:hover {
    filter: brightness(100%);
    -webkit-filter: brightness(100%); }
  .chapitre .chapitre1 {
    background-image: url("../assets/images/Viille.jpg"); }
    .chapitre .chapitre1 a {
      width: 90%;
      padding-left: 8%; }
  .chapitre .chapitre2 {
    background-image: url("../assets/images/eolienne2.jpg"); }
  .chapitre .chapitre3 {
    background-image: url("../assets/images/robotindex.jpg"); }
  .chapitre .chapitre3 button {
    position: absolute; }

.Titrage {
  display: flex;
  margin-left: 7%; }
  .Titrage h2 {
    padding-top: 11px;
    color: white;
    font-family: "Apex Regular";
    font-size: 100px; }
  .Titrage h3 {
    padding-top: 3%;
    padding-left: 10%;
    color: white;
    font-family: "Apex Regular";
    font-size: 50px; }

.imageBackground {
  display: flex;
  position: relative; }
  .imageBackground p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 23px;
    width: 80%;
    line-height: 2.3;
    text-align: left;
    padding-left: 20%;
    padding-top: 15%; }

.Texte1,
.Texte2,
.Texte3,
.doublebox {
  margin-top: 4%;
  margin-left: 7%; }

.Texte1Inegalites,
.Inegalites {
  margin-top: 10%;
  margin-left: 7%; }

.Texte4 {
  margin-top: 10%;
  margin-left: 7%; }
  .Texte4 p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    width: 63%;
    line-height: 2.5;
    text-align: left;
    padding-top: 3%; }

.Inegalites {
  display: flex; }

.InegalitesDroite {
  margin-left: 7%; }
  .InegalitesDroite p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    width: 90%;
    line-height: 2.5;
    text-align: left;
    padding-top: 3%; }
  .InegalitesDroite .Groupe14 {
    margin-top: 15%; }

.Texte1 p,
.Texte3 p {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
  width: 63%;
  line-height: 2.5;
  text-align: left;
  padding-top: 3%; }

.Texte1Inegalites p {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
  width: 63%;
  line-height: 2.5;
  text-align: left;
  padding-top: 3%; }

.doublebox {
  display: flex; }

.ArmeeTexte {
  width: 100%;
  padding-left: 4%; }
  .ArmeeTexte p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    width: 90%;
    line-height: 2.5;
    text-align: left;
    padding-top: 3%;
    padding-right: 2%; }

.Texte2 p {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
  width: 30%;
  line-height: 2.5;
  text-align: left;
  padding-top: 3%;
  padding-right: 2%; }

.Texte2 .box {
  display: flex; }

footer ul {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%; }

footer li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px; }

footer a {
  text-decoration: none;
  color: white;
  font-family: "Apex Regular";
  font-size: 30px; }

.Accueil:hover #Accueil2 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.Accueil:hover #Groupe_2 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.Accueil:hover #Groupe_5 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.Accueil:hover #Groupe_3 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.Accueil:hover #Groupe_4 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }

.ChapitreUn:hover #ChapitreUn {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  stroke: #fff; }
.ChapitreUn:hover #Groupe_2 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  stroke: #fff; }
.ChapitreUn:hover #Groupe_5 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  stroke: #fff; }
.ChapitreUn:hover #Groupe_3 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  stroke: #fff; }
.ChapitreUn:hover #Groupe_4 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  stroke: #fff; }

.ChapitreDeux:hover #ChapitreDeux {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  stroke: #fff; }
.ChapitreDeux:hover #Groupe_2 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  stroke: #fff; }
.ChapitreDeux:hover #Groupe_5 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  stroke: #fff; }
.ChapitreDeux:hover #Groupe_3 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  stroke: #fff; }
.ChapitreDeux:hover #Groupe_4 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  stroke: #fff; }

.ChapitreTrois:hover #ChapitreTrois {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  stroke: #fff; }
.ChapitreTrois:hover #Groupe_2 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  stroke: #fff; }
.ChapitreTrois:hover #Groupe_5 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  stroke: #fff; }
.ChapitreTrois:hover #Groupe_3 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  stroke: #fff; }
.ChapitreTrois:hover #Groupe_4 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  stroke: #fff; }

.premierChapitre {
  position: relative; }

h4 {
  color: #B7B6BE;
  font-family: "Apex Regular";
  font-size: 30px;
  position: relative; }

.ChapitreLigne {
  display: flex;
  position: relative;
  padding-top: 157px;
  margin-left: 7%; }

.image {
  margin-left: 7%;
  margin-top: 3%;
  position: relative; }
  .image .petiteville {
    left: 1%;
    top: 3%;
    position: absolute; }
  .image .eoliennepetite {
    left: 2%;
    top: 5%;
    position: absolute; }
  .image .robot {
    left: 2%;
    top: 5%;
    position: absolute; }

.imageEgout {
  position: relative; }
  .imageEgout .Egout {
    position: absolute;
    left: 2%;
    top: 4%; }

.imagearmee {
  position: relative; }
  .imagearmee .armee {
    position: absolute;
    left: 2%;
    top: 2%; }

.polygone {
  position: absolute;
  top: 15%;
  z-index: 1;
  opacity: 0.7;
  left: 66%; }

.polygone2 {
  position: absolute;
  top: 23%;
  z-index: 1;
  opacity: 0.7;
  left: 66%; }

.polygone3 {
  position: absolute;
  top: 14.5%;
  z-index: 1;
  opacity: 0.7;
  left: 66%; }

.modale-bg {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  background: #0E0E0F;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s opacity 0, 5s; }
  .modale-bg .Sousmodale {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%; }
    .modale-bg .Sousmodale h2 {
      color: white;
      font-family: "Apex Regular";
      font-size: 30px;
      padding-top: 3%;
      padding-bottom: 3%; }
    .modale-bg .Sousmodale p {
      padding-bottom: 5%;
      font-family: 'Montserrat', sans-serif;
      color: white;
      font-size: 20px;
      line-height: 2.5;
      width: 60%;
      text-align: left; }

.BoutonModale {
  cursor: pointer; }

.BoutonModale:hover #Groupe_2 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.BoutonModale:hover #Groupe_5 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.BoutonModale:hover #Groupe_3 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.BoutonModale:hover #Groupe_4 {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }
.BoutonModale:hover #Suivant {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }

.bg-active {
  visibility: visible;
  opacity: 1; }

/*# sourceMappingURL=style.css.map */
